:root {
    --md-outlined-select-text-field-container-color: var(--on-surface);
    --md-outlined-select-text-field-outline-color: var(--on-surface);
    --md-outlined-select-text-field-focus-outline-color: var(--on-surface);
    --md-outlined-select-text-field-hover-outline-color: var(--on-surface-variant);
    --md-outlined-select-text-field-hover-input-text-color: var(--on-surface-variant);
    --md-outlined-select-text-field-focus-input-text-color: var(--on-surface-variant);
    --md-outlined-select-text-field-input-text-color: var(--on-surface);
    --md-outlined-select-text-field-hover-label-text-color: var(--on-surface-variant);
    --md-outlined-select-text-field-focus-label-text-color: var(--on-surface-variant);
    --md-outlined-select-text-field-label-text-color: var(--on-surface);
    --md-outlined-text-field-container-color: var(--on-surface);
    --md-outlined-text-field-outline-color: var(--on-surface);
    --md-outlined-text-field-focus-outline-color: var(--on-surface);
    --md-outlined-text-field-hover-outline-color: var(--on-surface-variant);
    --md-outlined-text-field-hover-input-text-color: var(--on-surface-variant);
    --md-outlined-text-field-focus-input-text-color: var(--on-surface-variant);
    --md-outlined-text-field-input-text-color: var(--on-surface);
    --md-outlined-text-field-hover-label-text-color: var(--on-surface-variant);
    --md-outlined-text-field-focus-label-text-color: var(--on-surface-variant);
    --md-outlined-text-field-label-text-color: var(--on-surface);

}

.date-range-input {
    background-color: var(--surface);
    height: inherit;
    width: 26%;
    padding: 3%;
    border: 1px solid var(--on-surface);
    color: var(--on-surface);
    border-radius: 2%;
}

.listaEventi {
    font-size: large;
}

md-outlined-select {
    padding: 30px;
}


.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.toast {
    top: 1px;
    height: 10%;
    position: fixed;
    border-radius: 2px;
    width: auto;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    font-family: 'Poppins', sans-serif;
}

Foglio di stile dello user agentaddress,
article,
aside,
div,
footer,
header,
hgroup,
main,
nav,
search,
section {
    display: block;
}

div::-webkit-scrollbar {
    height: 7px;
}

div::-webkit-scrollbar-thumb {
    background-color: a6c53b;
    webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 255);
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 255);
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 10%;
        right: 7%;
        max-width: 86%;
    }
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 10px;  
    right: 10px;
}